.hero__title {
  margin: 0;
  max-width: 830px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.18;
  color: #FFFFFF;
}

@media screen and (max-width: 980px) {
  .hero__title {
    max-width: 630px;
    font-size: 44px;
  }
}

@media screen and (max-width: 760px) {
  .hero__title {
    max-width: 430px;
    font-size: 34px;
  }
}