.hero__title {
  margin: 0;
  width: 70%;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.18;
  color: #FFFFFF;
}

@media screen and (max-width: 980px) {
  .hero__title {
    font-size: 44px;
  }
}

@media screen and (max-width: 760px) {
  .hero__title {
    font-size: 34px;
  }
}

@media screen and (max-width: 530px) {
  .hero__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 400px) {
  .hero__title {
    font-size: 22px;
  }
}