.features__title {
  margin: 23px 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #FFFFFF;
}

@media screen and (max-width: 1234px) {
  .features__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .features__title {
    font-size: 14px;
  }
}

