.header__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 980px) {
  .header__menu {
    gap: 18px;
  }
}

@media screen and (max-width: 800px) {
  .header__menu {
    gap: 15px;
  }
}

@media screen and (max-width: 470px) {
  .header__menu {
    gap: 10px;
  }
}

@media screen and (max-width: 365px) {
  .header__menu {
    gap: 5px;
  }
}