.blog__button {
  background-image: url(../../../images/arrow.svg);
  background-position: center;  
  background-repeat: no-repeat;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #002366;
  border: none;
  box-sizing: border-box;
}

.blog__button:hover {
  background-image: url(../../../images/hover.svg), url(../../../images/arrow.svg);
}