.blog__title {
  margin: 18px 0 33px;
  width: 70%;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #FFFFFF;
  text-align: justify;
}

@media screen and (max-width: 1200px) {
  .blog__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 910px) {
  .blog__title {
    font-size: 24px;
    width: 80%;
  }
}

@media screen and (max-width: 710px) {
  .blog__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 440px) {
  .blog__title {
    font-size: 18px;
    width: 90%;
  }
}