.logo {
  display: block;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px;
  height: 63px;
  transition: opacity 1s;
}

.logo:hover {
  opacity: 0.5;
}

@media screen and (max-width: 980px) {
  .logo {
    width: 140px;
    height: 43px;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    width: 140px;
    height: 30px;
  }
}