.video__title {
  width: 80%;
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1040px) {
  .video__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 800px) {
  .video__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 625px) {
  .video__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 42px) {
  .video__title {
    font-size: 22px;
  }
}

