.description__title {
  margin: 15px 0 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: justify;
  color: #002366;
}

@media screen and (max-width: 1040px) {
  .description__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 660px) {
  .description__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 440px) {
  .description__title {
    font-size: 22px;
  }
}