.button {
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 60px;
  background-color: #FA8072;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  transition: opacity 1s;
}

.button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 760px) {
  .button {
    font-size: 14px;
  }
}